* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// :root {
//   --Highlight: #FF57B2
//   --Heading: #F8F8F8
//   --Background: #1A1D23
//   --Info: #BBBBBB
//   --Body: #D7D7D7
// }
// TODO
body {
  background: rgba(40, 44, 52, 0.83);
}